.btn {
    background-color: #008B91;
    color: #FBFCEE;
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
    border-radius: 20px;
    width: 100%;
    font-family: "VDS Thin";

}

.btn-2 {
    background-color: #FBFCEE;
    color: #008B91;
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
    border-radius: 20px;
    width: 100%;
    border-width: 5px;
    border-color: #008B91;
    font-family: "Chinese Rocks";


}