.btn {
  background-color: #008b91;
  color: #fbfcee;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
  border-radius: 20px;
  width: 100%;
  font-family: "Chica Mono";
}

.btn-2 {
  background-color: #fbfcee;
  color: #008b91;
  padding: 5px;
  margin: 5px;
  border: 2px solid #008b91;
  font-size: 1.5em;
  border-radius: 20px;
  width: 100%;
  border-color: #008b91;
  font-family: "Chica Mono";
}
